* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #030328;
}

header {
    width: 98.500vw;
    height: 80vh;

    background: url("./assets/barry_allen_the_flash_hd-1920x1080.jpg");
    background-position: top;
    background-size: 100%;

    margin-top: -1;
}
header .App-top {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.1mm 0.100rem;
}

header .App-top .one_img img {
    width: 2rem;

    filter: blur(0.500px);
    filter: invert(1);
}
header .App-top .one_img img:last-child {
    margin-left: 1rem;

    filter: blur(1px);
}
.App-top #logo {
    width: 300pt;

    margin-top: 4mm;
}
.App-top #profile {
    width: 50pt;

    border-radius: 50%;
    margin-top: 4mm;
}

main {
    display: flex;
    align-items: center;

    overflow-x: scroll;

    background: rgb(3,3,40);
    background: linear-gradient(0deg, #030328 50%, rgba(157, 133, 255, 0.2) 70%);

    height: 15rem;
    width: 100%;
    margin-top: -10mm;
}
main::-webkit-scrollbar {
    width: 1px;      
 }
 ::-webkit-scrollbar-track {     
    background: #030328;
  }
  ::-webkit-scrollbar-thumb {   
    border-radius: 3px;
    width: 1px;
    background-color:rgba(157, 133, 255, 0.2);
  }
main img {
    margin-left: 1mm;
}

@media(max-width: 600px) {
    header {
        background-repeat: no-repeat;
        background-position-x: -1px;
        
        width: 99vw;

        margin-left: 0px;
    }
    header .App-top {
        width: 100%;
    }
    header .App-top .one_img img {
        width: 1.300rem;

        margin-left: 3mm;
    }
    .App-top #logo, #profile {
        width: 120pt;
    }
    .App-top #profile {
        width: 2rem;
        margin-right: 3mm;
    }

    main {
        margin-top: -55vmax;

        background: linear-gradient(0deg, #030335 40%, rgba(157, 133, 255, 0.7) 90%);
    
        height: 35ex;
        width: 100%;
    }
}